.px-main{
  background-color: rgb(245, 246, 252,);
  padding-top: 1rem;
}



.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1558981403-c5f9899a28bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    
 
  }
  
  .h1{
    margin: auto;
      color: white
  }

  .px-about{
    height:auto;
    background:linear-gradient(to bottom , rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73) ,);
    font-size:36px ;
    padding-bottom: 7rem ;
    padding-top: 6rem ;
  }


.aboutHeader{
      text-align: center;
      padding-top: 2rem;
      margin: 0;
  }


  .aboutPar{
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    width: 80%;
    padding-top: 1rem;
  }



.px-flexContainer{
 
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(245, 246, 252,) ;

  .px-flexchild{
    margin: auto;
    width:90%;
    padding: 2rem 2rem;
    text-align: center;

    
    
    p{
        padding-left:  1rem;
    }

     img{
        width: 80%;
        height: 250px;
      
    }
  }

}
@media screen and (min-width: 650px){
  .px-flexContainer{
    .px-flexchild{
    
      width:40%;
   
    }
  }

}


@media screen and (min-width: 992px){

  .parallax{
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .px-flexContainer{
    .px-flexchild{
    
      width:18%;
   
    }
  }

}
